footer{
  color: #333;
}
footer div{
  width: 100%;
  height: 50px;
  border-top: 1px solid #ccc;
}
footer div ul{

}
footer div ul li{

  display: flex;
  flex-direction: column;
  align-items: center;
}
footer div ul li p{

}