section#portfolio{
  background-color: white;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section#portfolio .wrap{
  max-width: 1300px;
}
section#portfolio .wrap h2{
   
}

section#portfolio .wrap>p{
  line-height: 1.6;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding: 30px 0;
  font-size: 30px;
}
section#portfolio .wrap .gn{
  justify-content: center;
  width: calc(100% / 1);
  flex-wrap: wrap;
  gap: 60px;
}
section#portfolio .wrap .gnb{
   
}
section#portfolio .wrap .gnb img{
  width: 300px;
  margin-right: 30px;
}
section#portfolio .wrap .gnb .text{
   
}
section#portfolio .wrap .gnb .text h3{
  line-height: 1.6;
}
section#portfolio .wrap .gnb .text p{
   
  line-height: 1.3;
}
section#portfolio .wrap .gnb .text ul{
  gap: 0 10px;
  margin-bottom: 10px;
}
section#portfolio .wrap .gnb .text li{
   
}
section#portfolio .wrap .gnb span{
   
}
section#portfolio .wrap .gnb span button{
  padding: 5px;
  margin-right: 10px;
  cursor: pointer;
}