section#skill{
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section#skill .wrap {

  max-width: 1300px;
}
section#skill .wrap h2 {

}
section#skill .wrap>p {
  line-height: 1.6;
  font-weight: bold;
  justify-content: center;
  display: flex;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
}
section#skill .wrap ul {

}
section#skill .wrap ul .skill {
  display: flex;
  align-items: center;
  flex-direction: column;
}

section#skill .wrap ul .skill li {
  margin-bottom: 15px;
  width: 1300px;
}
section#skill .wrap ul .skill li div.L {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 5px;
}
section#skill .wrap ul .skill li div.L img {
  width: 30px;
  height: 30px;
}
section#skill .wrap ul .skill li div.L p {

}
section#skill .wrap ul .skill li div.R {
  background-color: #ffdac4;
  height: 30px;
  margin-left: 10px;
}

section#skill .wrap ul .skill li div.R .bar{
  
}

section#skill .wrap ul .skill li div.R .bar p {
  position: absolute;
  right: 15px;
}