#title {
  width: 100%;
  background-image: url(../img/header.jpg);
  background-size: cover;
}
#title .wrap {

}
#title .wrap h2{ 
  line-height: 2;
  animation-name: op;
  animation-delay: 1s;
  animation-direction: reverse;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  opacity: 0;
}
#title .wrap:after{
  content: "";
  background-image: url(../img/down.svg);
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 200px;
  animation-name: op;
  animation-delay: 3s;
  animation-direction: reverse;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  opacity: 0;
}

@keyframes op{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

#title .wrap p{ 
  line-height: 2.3;
  animation-name: up1;
  animation-delay: 1.5s;
  animation-direction: reverse;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  opacity: 0;
}

@keyframes up1{
  0%{
    opacity: 1;
    transform: translateY(0%);
  }
  100%{
    opacity: 0;
    transform: translateY(100%);
  }
}